!!! 5
%html
  %head
    %title MovieCrawler information
    %link{href: '/style.css', media: 'screen, projection', rel: 'stylesheet'}
    %script{src: '/jquery.js'}
    %script{src: '/load.js'}
    %script{src: '/script.js'}
  %body
    %img.bg-img{:src => "/movie.jpg"}
    #container
      %header
        = haml :nav
      %section
        = styled_flash
        = yield
      .footer
        = haml :footer
